<p> <strong>Navigation</strong> </p>
<ul id=cats>

	<li><%= link_to 'All Apps', apps_path %></li>

	<li><a href="#">iOS</a></li>
	
	
	<li><a href="#">Android</a></li>
	
	<li><a href="#">Windows</a></li>
	
</ul>