<% link_to 'My Apps', controller: 'apps' %>
<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" language="JavaScript" src ="index.js"></script>
	
	<script type="text/javascript">
	
	var hotAppsSlides = new Array()
	hotAppsSlides[0] = new Image()
	hotAppsSlides[0].src = ""
	hotAppsSlides[1] = new Image()
	hotAppsSlides[1].src = ""
	hotAppsSlides[2] = new Image()
	hotAppsSlides[2].src = ""
	hotAppsSlides[3] = new Image()
	hotAppsSlides[3].src = ""
	hotAppsSlides[4] = new Image()
	hotAppsSlides[4].src = ""
	
	//var topGamesSlides = new Array()
	//topGamesSlides[0] = new Image()
	//topGamesSlides[0] = new Image()
	//topGamesSlides[0] = new Image()
	//topGamesSlides[0] = new Image()
	//topGamesSlides[0] = new Image()
	
	//var editorsPicsSlides = new Array()
	//editorsPicsSlides[0] = new Image()
	//editorsPicsSlides[1] = new Image()
	//editorsPicsSlides[2] = new Image()
	//editorsPicsSlides[3] = new Image()
	//editorsPicsSlides[4] = new Image()
	
	</script>
</head>

<body>
	<div id=top>
		<%= render 'top' %>
	</div>

	<div id=nav>
		<%= render 'side' %>
	</div>

	<div id = content>
		<div id=hot>
			<div class=top2>
				<p class=titles>Hot Apps</p>
			</div>
				<img src= 'http://i.imgur.com/E0IHI6u.jpg', width="250", height="250"/> 
			
		</div>
	</div>
	
	<div id=topgames>
		<div class=top2>
			<p class=titles>Top Games</p>
		</div>
			<img src='http://i.imgur.com/t2bLV7D.jpg' , width="250", height="250"/>
		</div>
	</div>
	
	<div id=editors>
		<div class=top2>
			<p class = titles>Editors Picks</p>
		</div>
		
	</div>
	
	</div>
	
	
</body>

</html>