<!DOCTYPE html>
<html>

<body>
	<div id=top>
  
		<div id=log>
			<ul id=login>
				<li><a href="apps/new">Submit New App</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
		</div>
	
		<div id=search>
			<p>Search: </p>
		</div>
	</div>

	<div id=nav>
		<p> <strong>Navigation</strong> </p>
		<ul id=cats>
			<li><a href="#">iOS</a></li>
			<ul class=subcats>
				<li><a href="#">Games</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">Food & Drink</a></li>
				<li><a href="#">Health & Fitness</a></li>
				<li><a href="#">Kids</a></li>
				<li><a href="#">Lifestyle</a></li>
				<li><a href="#">Music</a></li>
				<li><a href="#">Productivity</a></li>
				<li><a href="#">Photo & Video</a></li>
				<li><a href="#">Weather</a></li>
				<li><a href="#">Sports</a></li>
				<li><a href="#">Utilities</a></li>
				<li><a href="#">Misc.</a></li>
			</ul>
			<li><a href="#">Android</a></li>
			<ul class=subcats>
				<li><a href="#">Games</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">Food & Drink</a></li>
				<li><a href="#">Health & Fitness</a></li>
				<li><a href="#">Kids</a></li>
				<li><a href="#">Lifestyle</a></li>
				<li><a href="#">Music</a></li>
				<li><a href="#">Productivity</a></li>
				<li><a href="#">Photo & Video</a></li>
				<li><a href="#">Weather</a></li>
				<li><a href="#">Sports</a></li>
				<li><a href="#">Utilities</a></li>
				<li><a href="#">Misc.</a></li>
			</ul>
			<li><a href="#">Windows</a></li>
			<ul class=subcats>
				<li><a href="#">Games</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">Food & Drink</a></li>
				<li><a href="#">Health & Fitness</a></li>
				<li><a href="#">Kids</a></li>
				<li><a href="#">Lifestyle</a></li>
				<li><a href="#">Music</a></li>
				<li><a href="#">Productivity</a></li>
				<li><a href="#">Photo & Video</a></li>
				<li><a href="#">Weather</a></li>
				<li><a href="#">Sports</a></li>
				<li><a href="#">Utilities</a></li>
				<li><a href="#">Misc.</a></li>
			</ul>
		</ul>
	</div>
	<div id = content>
	<div id=hot>

		<div id=top2>
			<p>Hot Apps</p>
		</div>
	</div>
	</div>
</body>

</html>