<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="AppYours.css">
  <title> AppYours </title>
</head>

<body>
  <div id=top>
  
    <div id=log>
      <ul id=login>
	    <li><a href="#">Login</a></li>
	    <li><a href="#">Sign Up</a></li>
	  </ul>
	</div>
	
	<div id=search>
	  <p>Search: </p>
	</div>
  </div>
  <div id=nav>
	<p> <strong>Navigation</strong> </p>
    <ul id=cats>
	  <li><a href="#">iOS</a></li>
	  <li><a href="#">Android</a></li>
	  <li><a href="#">Windows</a></li>
	</ul>
  </div>
  
  <div id=hot>
	<div id=top2>
		<p>Hot Apps</p>
	</div>
  </div>
</body>

</html>