<p> <strong>Navigation</strong> </p>
<ul id=cats>
	<li><a href="#">iOS</a></li>
	<ul class=subcats>
		<li><a href="#">Games</a></li>
		<li><a href="#">Education</a></li>
		<li><a href="#">Food & Drink</a></li>
		<li><a href="#">Health & Fitness</a></li>
		<li><a href="#">Kids</a></li>
		<li><a href="#">Lifestyle</a></li>
		<li><a href="#">Music</a></li>
		<li><a href="#">Productivity</a></li>
		<li><a href="#">Photo & Video</a></li>
		<li><a href="#">Weather</a></li>
		<li><a href="#">Sports</a></li>
		<li><a href="#">Utilities</a></li>
		<li><a href="#">Misc.</a></li>
	</ul>
	
	<li><a href="#">Android</a></li>
	<ul class=subcats>
		<li><a href="#">Games</a></li>
		<li><a href="#">Education</a></li>
		<li><a href="#">Food & Drink</a></li>
		<li><a href="#">Health & Fitness</a></li>
		<li><a href="#">Kids</a></li>
		<li><a href="#">Lifestyle</a></li>
		<li><a href="#">Music</a></li>
		<li><a href="#">Productivity</a></li>
		<li><a href="#">Photo & Video</a></li>
		<li><a href="#">Weather</a></li>
		<li><a href="#">Sports</a></li>
		<li><a href="#">Utilities</a></li>
		<li><a href="#">Misc.</a></li>
	</ul>
	<li><a href="#">Windows</a></li>
	<ul class=subcats>
		<li><a href="#">Games</a></li>
		<li><a href="#">Education</a></li>
		<li><a href="#">Food & Drink</a></li>
		<li><a href="#">Health & Fitness</a></li>
		<li><a href="#">Kids</a></li>
		<li><a href="#">Lifestyle</a></li>
		<li><a href="#">Music</a></li>
		<li><a href="#">Productivity</a></li>
		<li><a href="#">Photo & Video</a></li>
		<li><a href="#">Weather</a></li>
		<li><a href="#">Sports</a></li>
		<li><a href="#">Utilities</a></li>
		<li><a href="#">Misc.</a></li>
	</ul>
</ul>