<a href = "../welcome"><%= image_tag "header_logo.png" %></a>
<div id=log>
<ul id=login>
	<li><a href="apps/new">Submit New App</a></li>
	<li><a href="#">Login</a></li>
	<li><a href="#">Sign Up</a></li>
</ul>
</div>

<div id=search>
	<p>Search: </p>
</div>