<a href = "/welcome"><%= image_tag "header_logo.png" %></a>

<div id=log>
	<ul id=login>
		<li><%= link_to 'Submit New App', new_app_path %></li>
		<li><a href="#">Login</a></li>
		<li><a href="#">Sign Up</a></li>
	</ul>
</div>

<div id=search>
	<p>Search: </p>
</div>