<div id=top>
  <%= render 'welcome/top' %>
</div>

<div id=nav>
  <%= render 'welcome/side' %>
</div>


<div id = content>
	<div id=form>
  		<div id=top2>
  			<p>Submit a New App</p>
  		</div>
  		
  		<div id = inner>
			<%= render 'form' %>
		</div>
	</div>
</div>
