<div id=top>
  <%= render 'top' %>
</div>

<div id=nav>
  <%= render 'side' %>
</div>
 

<div id = content>
<div id = form>
  <div id=top2><p>Edit The App</div>
  <div id = inner>
    

    <%= render 'form' %>

  </div>
</div>
</div>
 

